@tailwind base;
@tailwind components;
@tailwind utilities;


/* .btn {
    @apply p-2;
}

.btn:hover {
    @apply border-2 border-inherit border-collapse border;
} */

.select-color-mode{
    @apply text-orange-400
  }
  
  body {
    background-color: #fff;
    color: rgba(0,0,0,0.8);
  }
  
  .dark body {
    @apply bg-gray-800 text-white;
  }
  
  .sepia body {
    background-color: #f1e7d0;
    color: #433422;
  }
  

.scrollbar-pars {
    --sb-size: 6px;
    --sb-track-color: #fff7ed ;
    --sb-thumb-color: #ea580c;
}
  
.scrollbar-pars::-webkit-scrollbar {
    width: var(--sb-size);
}

.scrollbar-pars::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 9;
    /* border: 0; */
    padding-right: 10px;
}

.scrollbar-pars::-webkit-scrollbar-thumb {
background: var(--sb-thumb-color);
border-bottom-right-radius: 9px;
border-bottom-left-radius: 9px;
/* border: 0; */
padding-right: 10px;

}